<%- include header %>
<div class="row">
  <%if(message){%>
  <div class="alert <%if(code == 0){%>alert-danger<%}else{%>alert-success<%}%>">
    <%= message %>
  </div>
  <%}%>
</div>
  <h4 class="page-header">Create</h4>
  <hr/>
    <form method="POST" action="/" >
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" name="name" placeholder="Enter name" />
        </div>
        <div class="col">
          <input type="password" class="form-control" name="password" placeholder="Enter password" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <select class="form-control" name="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
          </select>
        </div>
        <div class="col">
          <label class="control-label mr-2">Are you 18+ ?</label>
          <input type="checkbox" class="checkbox" name="age">
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <label class="control-label mr-2">Are you ok with that info ?</label>
          <input type="radio" class="radio radio-inline" name="info" value="Y">Yes</input>
          <input type="radio" class="radio radio-inline" name="info" value="N">No </input>
        </div>
        <div class="col">
          <input type="submit" class="btn btn-dark" value="Submit" />
        </div>
      </div>
    </form>
  
<div class="row">
  <h4 class="page-header">Read</h4>
  <div class="table-responsive">
    <table class="table table-bordered table-stripped">
      <thead>
        <th>Name</th>
        <th>Password</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Info</th>
        <th>Actions</th>
      </thead>
      <tbody>
       <% if(data !== null){ for(i=0;i<data.length;i++){%>
        <tr>
          <td>
            <%= data[i].name %>
          </td>
          <td>
            <%= data[i].password %>
          </td>
          <td>
            <%= data[i].gender %>
          </td>
          <td>
            <%if(data[i].age == "on"){%>Above 18
            <%}else{%>Below 18
            <%}%>
          </td>
          <td>
            <%if(data[i].info == "Y"){%>Satisfied
            <%}else{%>not Satisfied
            <%}%>
          </td>
          <td>
            <a href="/edit/<%=data[i]._id %>" class="btn btn-link">Edit</a>
            <form method="POST" action="/delete/<%=data[i]._id%>">
              <input type="submit" class="btn btn-danger" value="Delete">
            </form>
          </td>
        </tr>
        <%}}%>
      </tbody>
    </table>
  </div>
</div>

<%- include footer %>